extends ../layout

block title
    | #{title} |

block after-style
    link(href="http://fonts.googleapis.com/css?family=Oxygen+Mono",rel="stylesheet",type="text/css')
    link(rel="stylesheet", href="/css/document.css")


block after-scripts
    script(src="/js/document.js")

block toolbar

    ul.nav
        li
            form#title-edit.navbar-form(style="display:none")
                input.span5(type="text",value="#{title}")
            a#title.span5(href="#",onclick="return false",data-title="#{title}") #{title}

    div.btn-group.pull-right
        button.btn.dropdown-toggle(data-toggle="dropdown",href="#")
            i.icon-font
            span.caret
        ul.dropdown-menu
            li
                a.toolbar-font(data-size="small") small
                a.toolbar-font.active(data-size="normal") normal
                a.toolbar-font(data-size="large") large

    span.pull-right &nbsp;

    div.btn-group.pull-right
        button.btn.dropdown-toggle(data-toggle="dropdown",href="#")
            i.icon-adjust
            span.caret
        ul.dropdown-menu
            li
                a.toolbar-color.active(data-color="light") light
                a.toolbar-color(data-color="dark") dark

    span.pull-right &nbsp;

    ul.nav.pull-right
        li
            a
                i#status-ok.icon-white.icon-ok
                i#status-ko.icon-white.icon-warning-sign(style="display:none")



block content-main
    textarea#txt.normal.light(placeholder="some text here...") #{content}