extends ../layout

block title
    | #{title} |

block after-style
    link(rel="stylesheet", href="/css/document.css")

block after-scripts
    script(src="/js/document.js")

block toolbar

    ul.nav
        li
            form#title-edit.navbar-form(style="display:none")
                input.span5(type="text",value="#{title}") 
            a#title.span5(href="#",onclick="return false",data-title="#{title}") #{title}

    ul.nav.pull-right
        li
            a
                i#status-ok.icon-white.icon-ok
                i#status-ko.icon-white.icon-warning-sign(style="display:none")

    span.pull-right &nbsp;

    div.pull-right.btn-group(data-toggle="buttons-radio")
        a.toolbar-color.btn(data-color="dark") Dark
        a.toolbar-color.btn.active(data-color="light") Light

    span.pull-right &nbsp;

    div.pull-right.btn-group(data-toggle="buttons-radio")
        a.toolbar-font.btn(data-size="small")
            i.icon-zoom-out
        a.toolbar-font.btn.active(data-size="normal")
            i.icon-font
        a.toolbar-font.btn(data-size="large")
            i.icon-zoom-in

block content-main
    textarea#txt.normal.light(placeholder="some text here...") #{content}